<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const img_left = `<img width="32" height="32" alt="previous image" style="padding:6px" src="/assets/ico/chevron-left.svg">`
    const img_right = `<img width="32" height="32" alt="next image" style="padding:6px" src="/assets/ico/chevron-right.svg">`
    function make_carousel(o) {
        jQuery(o).owlCarousel({
            margin: 10,
            items: 1,
            responsive: {
                0: {
                    autoWidth: false
                },
                600: {
                    autoWidth: true
                },
            },
            nav: true,
            dots: false,
            navText: [img_left, img_right],
            loop: true
        })
    }

    function owl() {
        const owls = document.querySelectorAll('.owl-carousel');
        for (const o of owls) {
            make_carousel(o);
        }
    }
</script>