<footer>
    <div class="content-wrapper">
        <h2>Kontakt</h2>
        <ul>
            <li>Adresa: <a href="https://mapy.cz/s/baracunuta">Spáleniště 17, 518 01 Dobruška</a></li>
            <li>Telefon: <a href="tel: +420 722 721 776">+420 722 721 776</a></li>
            <li>E-mail: <a href="mailto: Markyt11@seznam.cz">Markyt11@seznam.cz</a></li>
        </ul>
    </div>
</footer>
<footer class="tail-footer">
    <div class="content-wrapper">
        <small>Martina Kytýrová, IČ: 63824647. Icons from <a href="//www.icons8.com">icons8</a>, <a href="//www.feathericons.com">feather</a>.</small>
    </div>
</footer>