<footer>
    <div class="footer-wrapper content-wrapper">
        <div>
            <div class="call">
                <h5>Zavolejte nám</h5>
                <a aria-label="Zavolejte nám" href="tel:+420722721776">722 721 776</a>
            </div>
            <ul class="contact">
                <li><img alt="map" width="24" height="24" src="/assets/ico/map-pin.svg"><span><a href="https://mapy.cz/s/baracunuta">Spáleniště 17, 518 01 Dobruška</a></span></li>
                <li><img alt="mail" width="24" height="24" src="/assets/ico/at-sign.svg"><span><a href="mailto: kytyrova@penzionspaleniste.cz">kytyrova@penzionspaleniste.cz</a></span></li>
                <li><img alt="facebook" width="24" height="24" src="/assets/ico/facebook.svg"><span><a href="https://www.facebook.com/profile.php?id=61558682172538">Penzion Spáleniště</a></span></li>
            </ul>
        </div>
        <div id="firmycz-button">
            <a href="https://www.firmy.cz/detail/13206175-penzion-spaleniste-dobruska.html#hodnoceni" target="_blank" rel="noopener"><img loading="lazy" src="https://www.firmy.cz/img-stars/light-13206175.svg" alt="Penzion Spáleniště na Firmy.cz" /></a>
        </div>
    </div>
</footer>
<footer class="tail-footer">
    <div class="content-wrapper">
        <small>Martina Kytýrová, IČ: 63824647. Icons from <a href="//www.icons8.com">icons8</a>, <a href="//www.feathericons.com">feather</a>.</small>
    </div>
</footer>