<nav>
    <div class="content-wrapper">
        <div class="nav-grid">
            <a href="index.html" class="home-link">Spáleniště</a>
            <a href="about.html">O Penzionu</a>
            <a href="fishing.html">Rybaření</a>
            <a href="tips.html">Okolí</a>
            <a href="booking.html" class="hero-link">Ubytování</a>
        </div>
    </div>
</nav>
<a id="fab-booking" href="booking.html" class="fab"><img alt="booking" width="24" height="24" src="/assets/ico/calendar.svg"><span>Ubytování</span></a>