@use "var";

.nav-grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr repeat(3, minmax(min-content, max-content)) 1fr;
    justify-items: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr repeat(3, minmax(min-content, max-content)) 0px;
        gap: 1em;
    }

    a:first-child {
        justify-self: start;
    }

    a:last-child {
        justify-self: end;

        @media only screen and (max-width: 600px) {
            display: none;
        }
    }
}

nav {
    display: flex;
    font-family: var.$heading-font;
    background-color: var.$bg-color;
    font-size: 16px;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 10;

    @media only screen and (max-width: 600px) {
        font-size: 16px;
    }
}

.home-link {
    font-size: 26px;

    @media only screen and (max-width: 600px) {
        font-size: 18px;
    }
}

.fab {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: fit-content;
    height: fit-content;
    background: #69363b;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 11;
    gap: 12px;
    align-items: center;
    animation: appear 0.5s;

    @media only screen and (max-width: 600px) {
        font-size: 18px;
        display: flex;
    }

    img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        filter: invert(1);
    }

    span {
        font-size: 16px;
        line-height: 16px;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}